<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tronipm.matt.fiscalize">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SenadorListActivity"
            android:label="@string/title_activity_senador"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SenadorActivity"
            android:label="@string/title_activity_senador"
            android:parentActivityName=".activities.SenadorListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tronipm.matt.fiscalize.activities.SenadorListActivity" />
        </activity>
        <activity
            android:name=".activities.SenadorResumoActivity"
            android:label="@string/title_activity_senador_resumo"
            android:parentActivityName=".activities.SenadorActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tronipm.matt.fiscalize.activities.SenadorActivity" />
        </activity>
        <activity
            android:name=".activities.SenadorDetalheActivity"
            android:label="@string/title_activity_senador_detalhe"
            android:parentActivityName=".activities.SenadorResumoActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tronipm.matt.fiscalize.activities.SenadorResumoActivity" />
        </activity>
    </application>

</manifest>